<div class="masthead">
  <div class="masthead-content text-white">
    <div class="container-fluid px-4 px-lg-0">
      <h1 class="fst-italic lh-1 mb-4">
        Welcome to
        <span
          ><img style="height: 23vh" src="assets/greenwave.png" alt="" /> Task
          Application</span
        >
      </h1>
      <p class="mb-5">
        Enhancing growth and profitability backed by customized technology and
        strong process visualization
      </p>
      <button
        class="btn btn-primary btn-gradient text-center"
        (click)="getStarted()"
      >
        Get Started
      </button>
    </div>
  </div>
</div>
<div class="social-icons">
  <div
    class="d-flex flex-row flex-lg-column justify-content-center align-items-center h-100 mt-3 mt-lg-0"
  >
    <a
      class="btn btn-dark m-3"
      href="https://www.linkedin.com/company/greenwave-it/?originalSubdomain=in"
      target="_blank"
      ><i class="fab fa-linkedin-in"></i
    ></a>
    <a
      class="btn btn-dark m-3"
      href="https://www.greenwaveit.in/"
      target="_blank"
      ><i class="fa fa-globe" aria-hidden="true"></i
    ></a>
  </div>
</div>
