p {
  font-family: Lato;
}

#root {
  padding: 100px;
}

.register-form {
  padding-left: 10%;
  padding-right: 10%;
  margin: auto;
}
// .active {
//   background-color: #a4a4a3; /* Example active state color */
//   color: #fff; /* Example active state text color */
// }
